<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1f2b186a13.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <header>
        <div class="partePrincipal">
            <div id="logo-mercado-liebre">
                <div><a href="/"> <img src="/img/logo-mercado-liebre.svg" alt=""></a></div>
            </div>
            <div class="barraBusqueda">
                <input type="search" name="busquedamusica" class="busqueda" placeholder="Buscar productos, marcas">
                <span class="fa-solid fa-magnifying-glass"></span>
            </div>
            <div class="pagos">
                <p><span class="fa-solid fa-hand-holding-dollar"></span> Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>

        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/registro">Creá tus cuentas</a> <span class="fa-solid fa-id-card"></span></li>
                <li><a href="/login">Ingresá </a> <span class="fa-solid fa-right-from-bracket"></span></li>
                <li>Mis compras <span class="fa-solid fa-basket-shopping"></span></li>
            </ul>

        </nav>
        <div class="menu">
            <span class="fa-solid fa-bars"></span>
        </div>
    </header>
    <div class="logueo">
        <main>
            <div>
                <input type="text" name="nombre_de_usuario" value="Nombre de Usuario" id="usuario">
            </div>
            <div>
                <input type="password" name="contrasenia" value="Contraseña" id="contrasenia">
            </div>
            <div>
                <input class="enviar" type="submit" name="enviar" value="Envíar" id="enviar">
            </div>
        </main>
    </div>
    <footer>
        <section class="formas-de-pago">
            <div class="simbolo">
                <span class="fa-sharp fa-solid fa-credit-card"></span>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="envios">
            <div class="simbolo">
                <i class="fa-sharp fa-solid fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="seguridad">
            <div class="simbolo">
                <i class="fa-sharp fa-solid fa-user-shield"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>