@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

#logo-mercado-liebre {
    background-color: #eac926;
    width: 30%;
}

header {
    background-color: #eac926;
    width: 100%;
    padding: 2rem;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
}

.pagos {
    text-align: center;
}

.menu {
    text-align: center;
    color: #ebebeb;
}

.menu span {
    background-color: #1259c3;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.articulos {
    text-align: center;

}

.ofertas {
    text-align: center;
}

.formas-de-pago {
    text-align: center;
    color: #666;
}

.envios {
    text-align: center;
    color: #666;
}

.seguridad {
    text-align: center;
    color: #666;
}

.copyright {
    text-align: left;
    color: #666;
}

.formas-de-pago span {
    color: #1259c3;
}

.envios i {
    color: #1259c3;
}

.seguridad i {
    color: #1259c3;
}

.articulos h3 {
    font-size: 24px;
    text-align: left;
    margin-left: 0.6rem;
}

.ofertas h3 {
    font-size: 24px;
}

#precios {
    font-size: 18px;

}

#descuentos {
    font-size: 16px;
    color: #39b54a;

}

.articulos h4 {
    font-size: 16xp;

}

.ofertas h4 {
    font-size: 16xp;
}

.formas-de-pago p {
    font-size: 12px;
}

.envios p {
    font-size: 12px;
}

.seguridad p {
    font-size: 12px;
}

main {
    width: 90%;
    margin: 0px auto;
    background-color: #ebebeb;

}

.producto {
    margin: 10px;
    padding: 15px;
    background-color: white;
}

.descripcion {
    border-top: 1.5px #ebebeb solid;
    background-color: white;
    text-align: left;
    width: 100%;

}

/*.camion {
    border: 1px #39b54a solid;
    width: 2rem;
    height: 2rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #39b54a;
}
*/
.descripcion h4 {
    color: #666;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    padding: 0 1rem;
}

nav ul {
    display: flex;
}

@media (min-width:600px) {
    .menu {
        display: none;
    }

    .producto {
        width: 15rem;
    }

    .articulos,
    .ofertas {
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #logo-mercado-liebre {
        width: 50%;
    }

    .barraBusqueda {
        width: 50%;
    }

}

@media (max-width: 600px) {

    .articulos,
    .ofertas {
        flex-wrap: wrap;
    }

    nav {
        display: none;
    }

    .partePrincipal {
        flex-wrap: wrap;
    }


}

.producto:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

.producto img {
    width: 100%;
}

.banner {
    width: 100%;

}

.articulos,
.ofertas {
    display: flex;
    column-gap: 1rem;
}


.camion {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2rem;
    right: -80%;
    border: 1px #39b54a solid;
    width: 2rem;
    height: 2rem;
    border-radius: 1.5rem;
    color: #39b54a;
    background-color: white;
}

.camion:hover{
    transform: rotate(-90deg);
    transition: 1s ease;
}

.partePrincipal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barraBusqueda {
    margin: 2rem;

}

.registro input {
    margin: 1rem;
    padding: 1rem;
    gap: 2rem;
}

.enviar:hover {
    background-color: #0022AA;
    color: white;
    cursor: pointer;
}


.logueo {
   margin: 0 auto;
    width: 30%;
}

.logueo input {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    gap: 2rem;
    border: none;
}


.simbolo :hover {
    color: #eac926;
}



.nombre_producto {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
}


.producto:hover .nombre_producto {
    height: 1.5rem;
}


.busqueda {
    margin: 1rem;
    padding: 1rem;
    gap: 2rem;
    border-radius: 0.3rem;
    border: none;
}

.descripcion {
    cursor: pointer;
}